<template name="new-index">
	<div id="main-nav" class="clean">
		<div class="logo"><i></i><span>Rocket.Chat</span></div>
		<nav>
			<a href="#live-demo">Live Demo</a>
			<a href="#features">Features</a>
			<a href="#rocket-team">Rocket Team</a>
		</nav>
	</div>

	<div id="rocket-website">

		<section class="splash">
			<div class="wrapper">
				<a href='https://demo.rocket.chat' target='_blank' title="Access the live demo" class="rocket">Rocket.Chat</a>
				<h1>
					<span>The Ultimate Open Source</span>
					<span>Web Chat Platform</span>
				</h1>
				<p>From group messages and video calls all the way to helpdesk killer features our goal is to become the number one cross-platform open source chat solution.</p>
				<div class="access">
					<awesome-button target="_blank" href="https://demo.rocket.chat" type="external" color="facebook">Live Demo</awesome-button>
					<awesome-button target="_blank" href="https://github.com/RocketChat/Rocket.Chat" type="github">Source Code</awesome-button>
				</div>
			</div>
			<div id="particles-js"></div>
		</section>

		<section id="live-demo" class="live-demo">
			<div class="wrapper">
				<h2>
					<span>Access our</span>
					<span>live demo</span>
				</h2>
				<p>Check out a full featured live demo of our platform.</p>
				<div class="mockup">
					<img src="/images/mockup.png" alt="Rocket Chat Mockup" />
				</div>
				<awesome-button target="_blank" href="https://demo.rocket.chat" type="external" color="teal">Access the live demo</awesome-button>
			</div>
		</section>

		<section id="features" class="features">
			<div class="wrapper">
				<h2>
					<span>Highlighted</span>
					<span>Features</span>
				</h2>
				<p>Packages are at the core of Rocket.Chat capabilities, offering an impressive array of features aimed at making your business succeed:</p>
				<ul>
					<li>
						<i class="icon-videocam"></i>
						<h3>Video Conference</h3>
						<span>Chat with your colleagues and friends face-to-face over audio and video.</span>
					</li>
					<li>
						<i class="icon-chat"></i>
						<h3>Helpdesk Chat</h3>
						<span>Have your website visitors contact you in real-time and increase conversions.</span>
					</li>
					<li>
						<i class="icon-doc-text-inv"></i>
						<h3>File Sharing</h3>
						<span>Drag-and-drop files or select them from your computer or mobile device.</span>
					</li>
					<li>
						<i class="icon-mic"></i>
						<h3>Voice Messages</h3>
						<span>Record and transmit voice messages to a channel, group or private conversation.</span>
					</li>
					<li>
						<i class="icon-eye"></i>
						<h3>Link Preview</h3>
						<span>Post a link and immediately view its content. YouTube, Twitter, Gifs!</span>
					</li>
					<li>
						<i class="icon-code"></i>
						<h3>API</h3>
						<span>Integrate your chat to multiple services: GitHub, GitLab, JIRA, Confluence and others.</span>
					</li>
					<li>
						<i class="icon-puzzle"></i>
						<h3>Extendability</h3>
						<span>Want a new killing feature? Add a new package. It's as simple as that.</span>
					</li>
					<li>
						<i class="icon-laptop"></i>
						<h3>Native Applications</h3>
						<span>Native client applications available for download on Linux, Windows and OSX.</span>
					</li>
					<li>
						<i class="icon-mobile"></i>
						<h3>Mobile Applications</h3>
						<span>Mobile client applications available for iOS and Android on their respective stores.</span>
					</li>
				</ul>
			</div>

		</section>
		<section id="rocket-team" class="team">
			<div class="wrapper">
				<h2>
					<span>Get to know the</span>
					<span>rocket team</span>
				</h2>
				<p>Although there are lots of collaborators to Rocket.Chat, these are the people actively maintaining it and building a community of developers:</p>
				<ul>
					<li>
						<a target="_blank" href="https://github.com/engelgabriel" style="background-image: url(https://avatars1.githubusercontent.com/u/1000217?v=3&amp;s=460)" title="Gabriel Engel (Founder &amp; CEO)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/sampaiodiego" style="background-image: url(https://avatars3.githubusercontent.com/u/8591547?v=3&amp;s=460)" title="Diego Sampaio (Developer)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/marceloschmidt" style="background-image: url(https://avatars1.githubusercontent.com/u/1986378?v=3&amp;s=460)" title="Marcelo Schmidt (Developer)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/rodrigok" style="background-image:url(https://avatars2.githubusercontent.com/u/234261?v=3&amp;s=460)" title="Rodrigo Nascimento (Developer)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/rcaferati" style="background-image: url(https://avatars2.githubusercontent.com/u/8358797?v=3&amp;s=460)" title="Rafael Caferati (UX Architect)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/Sing-Li" style="background-image: url(https://avatars3.githubusercontent.com/u/122633?v=3&amp;s=460)" title="Sing Li (Developer)"></a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/geekgonecrazy" style="background-image: url(https://avatars0.githubusercontent.com/u/51996?v=3&amp;s=460)" title="Aaron Ogle (Developer)"></a>
					</li>
				</ul>
				<footer>
					<small>Rocket.Chat © 2015</small>
				</footer>
			</div>
		</section>
	</div>
	<div id="pre-loader">
		<span></span>
	</div>
</template>
