<template name="blog">
	<div id="rocket-blog">
		<section id="blog-header" class="header">
			<div class="wrapper">
				<h1>
					<span>Rocket.Chat</span>
					<span>Blog</span>
				</h1>
			</div>
		</section>

		<section id="blog-filters" class="blog-filters">
			<div class="wrapper">
				<div class="search">
					<input autocomplete="off" type="text" name="search" placeholder="Search posts" value="{{textSearch}}" />
					<i class="fa fa-search"></i>
				</div>
				<div class="filters">
					{{#each blogFilters}}
						<div data-rel="{{rel}}" class="filter">
							<h3><i class='fa fa-{{icon}}'></i> {{name}}</h3>
							<div class="categories">
								{{#each categories}}
									<label class="{{selected ../rel .}}">
										<input type="checkbox" value="{{.}}" rel="{{../rel}}" checked="{{checked ../rel .}}">
										<span>{{.}}</span>
									</label>
								{{/each}}
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</section>

		<section id="blog-posts" class="blog-posts">
			<div class="wrapper">
				{{#each posts}}
					{{> postCard}}
				{{/each}}
				{{#if Template.subscriptionsReady}}
					{{#if hasMore}}
						<div class="load-more">
							<button class="-btn primary large"><span><i class='fa fa-reload'></i>Load more</span></button>
						</div>
					{{/if}}
				{{else}}
					<div class="section-loader"></div>
				{{/if}}
			</div>
		</section>
	</div>
</template>
