<template name="postCard">
	<a href='{{pathFor "blog-post" slug=slug}}' class="unit {{#if $.Session.equals 'currentBlogPost' _id}}active{{/if}}" data-id="{{_id}}">
		{{#if images}}
			<div class="thumb" style="background-image:url({{cdnImage images 380 240 crop false}});"></div>
		{{else}}
			<div class="thumb" style="background-image:url(/images/egalite-default.png);"></div>
		{{/if}}
		<div class="info">
			<h2>{{title}}</h2>
			<strong>by {{_user.[0].name}}<br />{{_createdAt}}</strong>
			{{#if tags}}
				<ul>
					{{#each tags}}
						<li>{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
	</a>
</template>
